header{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 196, 0);
    nav ul li {
        display: inline-block;
        margin: 1vh;  
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 0,5cm;
            font-family: 'Poppins', sans-serif;
            list-style-type: none;
            
            }
    }     
    
}