@import "variables";
@import "generales";
@import "index";
@import"operaciones";



figcaption{
    margin-left: 50px;
    margin-bottom: 40px;
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.galeria{
    display: grid;
     margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    gap: 30px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:   
    "galeria galeria"
     ;

}

@media only screen and (max-width: 780px) {

    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:   
        "header"
        "galeria"
        "main"
        "footer"
         ;
    }
 
}

@media only screen and (max-width: 1024px){
    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:   
        "header"
        "galeria"
        "main"
        "footer"
         ;
    }
}
.galeria2{
    display: grid;
     margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    gap: 30px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:   
    "galeria galeria"
     ;

}
.galeria3{
    display: grid;
     margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    gap: 30px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:   
    "galeria galeria"
     ;

}
.galeria4{
    display: grid;
     margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    gap: 30px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:   
    "galeria galeria"
     ;

}
@media only screen and (max-width: 780px) {

    .galeria2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:   
        "header"
        "galeria"
        "main"
        "footer"
         ;
    }
 
}

@media only screen and (max-width: 1024px){
    .galeria2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:   
        "header"
        "galeria"
        "main"
        "footer"
         ;
    }
}
@media only screen and (max-width: 1024px){
.galeria3{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:   
    "header"
    "galeria"
    "main"
    "footer"
     ;
}
}

@media only screen and (max-width: 1024px){
.galeria3{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:   
    "header"
    "galeria"
    "main"
    "footer"
     ;
}
}

@media only screen and (max-width: 1024px){
.galeria4{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:   
    "header"
    "galeria"
    "main"
    "footer"
     ;
}
}


@media only screen and (max-width: 1024px){
.galeria4{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:   
    "header"
    "galeria"
    "main"
    "footer"
     ;
}
}
.colorfooter{
    background-color: orange;
     .colortextofooter{
        color: black;
    }
}
.contenedor:hover{
    transform: scale(2);
transition-duration: 1s;
}